@font-face {
  font-family: 'Input Mono Compressed Italic';
  src: url("../fonts/InputMonoCompressed-Italic.eot");
  src: url("../fonts/InputMonoCompressed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/InputMonoCompressed-Italic.woff") format("woff"), url("../fonts/InputMonoCompressed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Input Mono Compressed Medium';
  src: url("../fonts/InputMonoCompressed-Medium.eot");
  src: url("../fonts/InputMonoCompressed-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/InputMonoCompressed-Medium.woff") format("woff"), url("../fonts/InputMonoCompressed-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Input Mono Compressed Bold';
  src: url("../fonts/InputMonoCompressed-Bold.eot");
  src: url("../fonts/InputMonoCompressed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/InputMonoCompressed-Bold.woff") format("woff"), url("../fonts/InputMonoCompressed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-family: 'Input Mono Compressed Medium', monospace;
  font-size: 15px;
  text-transform: uppercase;
}

.content {
  display: block;
  max-width: 850px;
  margin: auto;
}

.description {
  display: block;
  width: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  top: 50%;
}

.section__1 {
  display: block;
  max-width: 550px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.section__1 h3 {
  font-family: 'Input Mono Compressed Bold', monospace;
  font-size: 20px;
}

.navbar-wrap {
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.navbar__logo-name {
  text-transform: uppercase;
  display: block;
  font-family: 'Input Mono Compressed Bold', monospace;
  font-size: 20px;
  font-size: 18px;
}

.navbar__logo-description {
  display: block;
  font-family: 'Input Mono Compressed Italic', monospace;
  font-size: 15px;
  text-align: left;
}

.button__o-c, .button__o-d {
  border: 1px solid #fff;
  padding: 10px;
  font-family: 'Input Mono Compressed Bold', monospace;
  font-size: 20px;
  text-transform: uppercase;
}

.button__o-d {
  background-color: #000;
  color: #fff;
}

.button__o-d:hover {
  background-color: white;
  color: #000;
  padding: 12px;
}

@media (max-width: 405px) {
  .button__o-d {
    border-right: none;
  }
}

.backhome {
  text-decoration: none;
}

.main-days {
  margin-top: 25px;
}

.block {
  display: block;
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

.block__day {
  display: block;
  padding: 0px;
  cursor: pointer;
  text-align: center;
  font-family: 'Input Mono Compressed Bold', monospace;
  font-size: 20px;
}

.block__hide {
  display: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Input Mono Compressed Medium', monospace;
  font-size: 15px;
}

.block__hide p {
  font-size: 13px;
}

.changes {
  background-color: #fff;
  list-decoration: none;
  padding: 5px;
  color: #000;
}

.changes__list {
  color: #000;
  background-color: #fff;
}

.changes-title {
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */