* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 80px;
  margin: auto;
}

@media (max-width: 768px) {
  max-width: 400px;
}

@font-face {
  font-family: 'Input Mono Compressed Italic';
  src: url("../fonts/InputMonoCompressed-Italic.eot");
  src: url("../fonts/InputMonoCompressed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/InputMonoCompressed-Italic.woff") format("woff"), url("../fonts/InputMonoCompressed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Input Mono Compressed Medium';
  src: url("../fonts/InputMonoCompressed-Medium.eot");
  src: url("../fonts/InputMonoCompressed-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/InputMonoCompressed-Medium.woff") format("woff"), url("../fonts/InputMonoCompressed-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Input Mono Compressed Bold';
  src: url("../fonts/InputMonoCompressed-Bold.eot");
  src: url("../fonts/InputMonoCompressed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/InputMonoCompressed-Bold.woff") format("woff"), url("../fonts/InputMonoCompressed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Input Mono Compressed Medium', monospace;
  background-color: #000000;
  color: #ffffff;
}

.button-o {
  color: #ffffff;
  border: 2px solid #ffffff;
  background: #000;
  padding: 10px 22px;
  text-transform: uppercase;
  margin-right: 15px;
  font-family: 'Input Mono Compressed Bold', monospace;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.navbar__menu-button {
  margin-right: 30px;
}

.navbar__VK a, .navbar__TG a {
  display: block;
  font-size: 20px;
  font-family: 'Input Mono Compressed Bold', monospace;
  text-decoration: none;
  color: #ffffff;
}

.navbar__description {
  font-size: 15px;
  font-family: Italic;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  height: 80px;
  width: 70px;
}

.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  margin: 2px 0;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Input Mono Compressed Bold', monospace;
}

.logo__description {
  display: block;
  font-size: 14px;
  font-family: 'Input Mono Compressed Italic', monospace;
}
/*# sourceMappingURL=style.css.map */