.navbar
    &-wrap
        height: 80px
        align-items: center
        display: flex
        justify-content: space-between
        border: 1px solid #fff
        border-top: none
        padding: 15px
    &__logo    
        &-name
            text-transform: uppercase
            display: block
            +Bold
        &-description
            display: block
            +Italic
    &__blog
.button__o
    &-c, &-d
        border: 1px solid #fff
        padding: 10px
@media (max-width: 369px)
    .button__o-c
        border-left: none

@media (max-width: 849px)
    .navbar
        &-wrap
            border: none
            border-bottom: 1px solid #fff