.navbar
    &__logo
        img
            display: inline
            max-width: 150px
            height: auto

    &-wrap
        height: 80px
        align-items: center
        display: flex
        justify-content: space-between
        //border: 1px solid #fff
        //border-top: none
//padding: 15px
   // &__logo    ///R
   

    &__blog
.button__o
    &-c, &-d
        border: 1px solid #fff
        padding: 10px
        +Bold
        text-transform: uppercase
    &-d 
        background-color: #000
        color: #fff
        &:hover
            background-color: rgba(#fff,1)
            color: #000
@media (max-width: 405px)
    .button__o-d
        border-right: none
@media ( max-width: 325px  )
    .navbar__logo
        img
            max-width: 100px