.navbar
    &-wrap
        height: 80px
        align-items: center
        display: flex
        justify-content: space-between
        //border: 1px solid #fff
        //border-top: none
        padding: 15px
    &__logo    
        &-name
            text-transform: uppercase
            display: block
            +Bold
            font-size: 18px
        &-description
            display: block
            +Italic
            font-size: 15px
            text-align: left
    &__blog
.button__o
    &-c, &-d
        border: 1px solid #fff
        padding: 10px
    &-d 
        background-color: #000
        color: #fff
        &:hover
            background-color: rgba(#fff,1)
            color: #000
            padding: 12px
@media (max-width: 405px)
    .button__o-d
        border-right: none