.backhome
    text-decoration: none
.hide
	display: none
	
.block 
    display: block
    max-width: 450px
    margin: auto
    &__day
        display: block
        padding-bottom: 15px
        text-decoration: underline
        text-decoration-color: #fff
        cursor: pointer
        text-align: center
    &__hide
        display: none
        text-align: center
        align-items: center
