.description
    display: block
    width: 600px
    align-items: center
    margin: auto
    top: 50%
.section__1
    display: block
    max-width: 550px
    text-align: center
    padding: 10px
    position: absolute
    top: 50%
    transform: translate(0, -50%)
    h3 
        +Bold